<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
    backupGlobals="false"
    bootstrap="vendor/autoload.php"
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    executionOrder="random"
    failOnWarning="true"
    failOnRisky="true"
    failOnEmptyTestSuite="true"
    beStrictAboutOutputDuringTests="true"
    cacheDirectory=".phpunit.cache"
    backupStaticProperties="false"
>
  <coverage>
    <report>
      <clover outputFile="build/logs/clover.xml"/>
      <html outputDirectory="build/coverage"/>
      <text outputFile="build/coverage.txt"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Missing Translations Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <logging>
    <junit outputFile="build/report.junit.xml"/>
  </logging>
  <php>
    <env name="APP_ENV" value="testing"/>
    <env name="APP_KEY" value="base64:/bh9AN8LDLwuQlMK6aYZvf4vrdprhgUSf15DO38oBfg="/>
    <env name="BCRYPT_ROUNDS" value="4"/>
    <env name="CACHE_DRIVER" value="array"/>
    <env name="DB_CONNECTION" value="sqlite"/>
    <env name="DB_DATABASE" value=":memory:"/>
    <env name="MAIL_MAILER" value="array"/>
    <env name="MEDIA_DISK" value="media"/>
    <env name="QUEUE_CONNECTION" value="sync"/>
    <env name="SESSION_DRIVER" value="array"/>
    <env name="TELESCOPE_ENABLED" value="false"/>
    <env name="PX_EMPLOYEE_MANAGEMENT_TENANT_CODE" value="vnr"/>
    <env name="PX_EMPLOYEE_MANAGEMENT_DOMAIN_CODE" value="px_teach"/>
    <env name="PX_EMPLOYEE_MANAGEMENT_PRODUCT_CODE" value="dam"/>
  </php>
  <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
</phpunit>
